*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
}
.header_main{
    border-top: 10px solid rgb(248, 178, 73);
    border-bottom: 5px solid white;
    background-color: antiquewhite;
    padding: 10px;
}
