@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
/*
font-family: 'Courier Prime', monospace;
font-family: 'Source Code Pro', monospace;
*/

*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    background-color: #fef9f8;
}

.header_main {
    border-top: 10px solid #ef9273;
    border-bottom: 5px solid white;
    background-color: #fef9f8;
    padding: 10px;
    position:sticky;
    top: 0;
}
.header2 {
    display: inline-block;
    padding-left: 59%;
}
.header1 {
    font-weight: 600;
    font-size: 25px;
    display: inline-block;
    font-family: monospace;
    vertical-align: middle;
    padding-left: 40px;
    
}
.header1 a{
    color: green;
}
.header2 {
    display: inline-block;
    vertical-align: middle;
}

.header1_l {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header1_li{
    display: inline-block;
}
.header1_li a{
    color: black;
    font-family: monospace;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 20px;
}
.header1_li a:hover,
.header1_li a:active {
    color: #fef9f8;
    background: #ef9273;
    border-radius: 40px;
}
.hero-wrapper {
    font-family: 'Source Code Pro', monospace;
    background-image: url(./slike.img/hero-image.png);
    height: 70vh;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.plans-wrapper {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;

}
.plans-wrapper-article{
    border: 2px solid;
    border-radius: 25px;
    padding: 6px;
    background-color: rgb(254, 183, 159);
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 20px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 30%;
    align-items: center;
    
}
.advanced {
    background-color: rgb(253, 153, 119);
    min-height: 600px;
}
.intermediate{
    order: 1;
}
.plans-wrapper-title {
    flex-basis: 100%;
    text-align: center;
}
.plans-wrapper-article-button{
    font-family: 'Courier Prime', monospace;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 17px;
    background-color: #fef9f8;
    margin-top: 10px;
}
.plans-wrapper-article-button:hover{
    background-color: rgb(179, 179, 179);
    transition: 0.2s;
    cursor: pointer;
}
.plans-wrapper-article-button:active{
    background-color: rgb(112, 112, 112)
}
.advanced-button{
    margin-top: 20px;
}
.plans-wrapper-article h2:nth-child(2) {
    text-decoration: underline;
}
.plans-wrapper-article h1,h2{
    font-weight: bolder;
}
.about-us{
    padding: 50px 0 50px 0;
    font-family: 'Courier Prime', monospace;
    background-color: #eb9a7f;
    display: flex;
    flex-flow: column wrap;
    text-shadow: 2px 1px 3px white;  
}
.about-us-abouttxt {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    text-shadow: 2px 1px 3px white;  
}
.about-us-abouttxt h3{
    display: flex;
    text-shadow: 1px 1px 3px #e4dcda;
    font-weight: lighter;
    text-align: center;
    width: 50%
}
.about-us-founders{
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-us-founders p{
    text-shadow: 1px 1px 3px #e4dcda;
}
.about-us-founders-1,
.about-us-founders-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
    justify-content: center;
    text-align: center;
}
.about-us-founders-1 img,
.about-us-founders-2 img{
    border-radius: 30px;
    border: 3px solid #c7c0bf;
    box-shadow: 9px 9px 5px  rgb(78, 78, 78);
}